@charset "UTF-8";
html, body {
  font-family: Regular, sans-serif;
  margin: 0;
  background: #000;
  color: #fff;
}

.intro {
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: #000;
}

model-viewer {
  height: 50vh;
  width: 50vw;
  border: none;
  outline: none;
  margin: 40px 0;
  background: #000;
}

section {
  padding: 40px 0;
}

.links {
  position: fixed;
  top: 16px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.links a {
  padding-right: 8px;
  padding-left: 8px;
}

.container {
  max-width: 720px;
  width: 90vw;
  margin: 0 auto;
}

h1 {
  font-family: Bold, sans-serif;
  font-size: 3rem;
  margin: 8px 0;
}

h2 {
  font-family: Bold, sans-serif;
  font-size: 2rem;
  margin: 0;
}

h3 {
  display: inline-block;
  font-size: 1.5rem;
}

h3::before {
  content: '→ ';
}

.item.app a {
  display: inline-block;
  color: inherit;
  font-size: 1.2rem;
}

.item.app a:hover {
  color: #47D66D;
}

hr {
  color: #494C4C;
  background-color: #494C4C;
  border: none;
  height: 1px;
  margin: 24px 0;
}

p {
  font-size: 18px;
  color: #848A8A;
}

p.description {
  font-family: Regular, sans-serif;
  color: #848A8A;
  font-size: 1.5rem;
  line-height: 150%;
  margin-top: 6px;
}

p.description.small {
  font-size: 14px;
}

.event {
  padding: 1rem;
  margin: 1rem 0;
  background: rgba(255,255,255,0.05);
  border-radius: 1rem;
  display: block;
}

.event a {
  color: #19CA47;
}

.strike {
  text-decoration: line-through;
}

.experience {
  padding-bottom: 2rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

.experience span {
  font-size: 14px;
  padding: 12px,12px,0,12px;
  line-height: 220%;
}

.experience span::after {
  content: ' // ';
  color: #494C4C;
}

.experience span:first-child {
  padding-left: 0;
}

a {
  font-family: Demibold, sans-serif;
  color: #848A8A;
  font-size: 14px;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

a:hover {
  color: #fff;
}

a.hire {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-size: 1rem;
  letter-spacing: .5px;
  box-shadow: 0px 6px 12px 0px rgba(53, 184, 87, 0.2);
  font-family: Bold, sans-serif;
}

a.hire:hover {
  box-shadow: none;
  background: #19CA47;
}

a.twitter:hover {
  color: #1DA1F2;
}

a.ft:hover {
  color: #47D66D;
}

a.dribbble:hover {
  color: #EA4C89;
}

a.linkedin:hover {
  color: #0077B5;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  .intro {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .intro p {
    font-size: 1rem;
    padding-bottom: 4px;
  }
  .item {
    line-height: 100%;
    margin: 1rem 0;
  }
  .item h3 {
    font-size: 1.2rem;
  }
  model-viewer {
    width: 100vw;
  }
}
