@charset "utf-8";
$mussel: #494C4C;
$mosesDark: #848A8A;
$moses: #E1E4E5;

html, body {
  height: 100%;
  font-family: "Regular";
  overflow-y: hidden;
}

.container {
  margin: 120px 120px;
  width: 480px;
}

h1 {
  font-family: "Semibold";
  font-size: 36px;
  color: $mussel;
}

.-desc {
  font-family: "Light";
  color: $mosesDark;
  font-size: 22px;
  margin-top: 6px;
}

.logo{ margin-top: 8px; }

hr {
  color: $moses;
  background-color: $moses;
  border: none;
  height: 1px;
  margin: 24px 0;
}

p {
  font-weight: "Regular";
  font-size: 16px;
  color: $mosesDark;

}

a {
  font-family: "Semibold";
  color: $mosesDark;
  font-size: 12px;
  text-decoration: none;
  &:hover{ color: $mussel; }
}
