@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $fonts;
  background: $white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dark { background: $dark; }

nav {
  width: $s * 45;
  height: 100%;
  padding: 48px 40px;
  position: fixed;
  float: left;
  display: block;
  text-align: center;
  background: $white;
  border-right: 1px solid $dark20;
  z-index: 1000;
  hr {
    height: 1px;
    margin: 48px 0;
    border: 0;
    background: $dark20;
  }

  ul {
    font-weight: $regular;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;

    li {
      margin-bottom: 36px;
      color: $dark50;


      &.search {
        margin-top: 48px;
        margin-bottom: 0;
      }
    }

    a {
      color: $dark50;
      &:hover,
      &.active {
        color: $dark;
        border-bottom: 2px solid $green;
      }
    }

    &.social-links {
      li {
        margin-top: 0;
        display: inline;
        margin-left: 18px;
        margin-right: 18px;
      }
    }
  }

}

.footnav {
  width: 100%;
  height: 156px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 40px 24px 40px;
  hr {
    margin-bottom: 24px;
  }
  a:hover {
    border: none;
  }
}

a {
  text-decoration: none;
  color: currentColor;
  transition: $trans;

  &.cta {
    height: 40px;
    padding: 10px 32px;
    display: inline-block;
    color: $white;
    font-size: 14px;
    line-height: 18px;
    background: $green;
    border-radius: $corner;
    border: 1px solid $green;

    &:hover {
      color: $green;
      background: $white;
      border: 1px solid $green;
    }
  }
}

.maincontainer {
  width: 100%;
  padding-left: $s * 45;

  &.home {
    height: 100%;
  }

  &.gallery {
    padding: $s * 3;
    padding-left: $s * 49 !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
  }

  &.about {
    padding: $s * 5;
    padding-left: $s * 50 !important;
  }
}

.photos {
  width: 100%;
  padding: 2px;
  height: 100%;
  display: block;
  background: url('/assets/landscape-07.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.photo {
  width: calc(50% - 16px);
  border-radius: $corner;
  margin: $s;
  height: 279px;
  display: inline;
  vertical-align: baseline;
  position: relative;

}

.gallery-photo {
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
  border-radius: $corner;
}

.overlay {
  width: 100%;
  height: 100%;
  background: $dark50;
  position: absolute;
  border-radius: $corner;
  opacity: 0;
  transition: $trans;
}

.photo:hover .overlay{
  opacity: 1;
  -webkit-backdrop-filter: blur(6px) saturate(200%);
}

.gallery-photo-title {
  color: $white;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 116px;
}

.green-bar {
  width: 30px;
  height: 2px;
  margin-top: 16px;
  background: $green;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  font-weight: $regular;
  font-family: 'Noto Sans', sans-serif;
  color: $dark80;
  line-height: 1.5;
  padding: $s 0;
  max-width: 640px;
  &.intro {
    font-style: italic;
  }

  &.center {
    margin: 0 auto;
  }
  &.description {
    font-size: 12px;
    opacity: .5;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    margin-bottom: 32px;
  }
}

.header-image {
  width: 100%;
  height: 370px;
  position: absolute;
  top: 0;
  left: 0;
}
.header-overlay {
  width: 100%;
  height: 370px;
  background-color: $dark50;
  background: linear-gradient(-180deg, rgba(18,18,17,0.00) 0%, #121211 98%);
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: relative;
}

h1 {
  font-weight: $bold;
  letter-spacing: 3px;
  margin-bottom: 36px;

  &.details-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    float: right;
    margin-top:112px;
    font-size: 30px;
  }
}

.content {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;

  p {
    max-width: 720px;
    margin: 40px auto;
    line-height: 1.5;
    color: #fff;
  }

  img {
    width: 100%;
    margin: 16px 0;
    border-radius:  3px;
    border: 1px solid #111111;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.20), inset 0 0 0 1px rgba(255,255,255,0.10);
    &.fifty {
      width: calc(50% - 12px);
    }
  }

  hr {
    background: $lite20;
    border: 0;
    height: 1px;
    margin: 64px 0;
    width: 100%;
    position: relative;
  }
}

.white-text { color: #fff; }
.center { text-align: center; }
.transparent { opacity: .5; }
.right { float: right;}
.rel { position: relative; top: 152px;}

.header-nav {
  width: 100%;
  height: 56px;
  // -webkit-backdrop-filter: blur(6px) saturate(200%);

}

.header-cta {
  text-decoration: none;
  transition: $trans;
  height: 32px;
  padding: 5px 16px;
  display: inline-block;
  color: $green;
  font-size: 14px;
  line-height: 18px;
  border-radius: $corner;
  border: 1px solid $green;
  float: right;
  margin-top: 16px;
  margin-right: 48px;
  -webkit-backdrop-filter: blur(6px);

    &:hover {
      color: $dark;
      background: $green;
      border: 1px solid $green;
    }
}

.back {
  margin-left: 48px;
  top: 8px;
  color: $lite80;
  svg {
    margin-top: 24px;
    margin-right: 12px;
  }

  &:hover {
    svg{ fill: $green;}
  }
}
