// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i');
$fonts: 'Montserrat', sans-serif;
$regular: 400;
$bold: 700;

// Basics
$s: 8px;
$corner: 3px;

// Colors
$green: #97C12C;
$dark: #121211;
$dark80: rgba($dark, .8);
$dark50: rgba($dark, .5);
$dark20: rgba($dark, .2);

$white: #fff;
$lite80: rgba($white, .8);
$lite50: rgba($white, .5);
$lite20: rgba($white, .2);

$trans: .25s;
